<div
  class="grid grid-cols-subgrid col-span-10 font-mono leading-4 p-6 border-t-2 gap-3"
  {{style height=this.height}}
  {{observe-intersection this.onIntersect}}
>
  {{#if this.isIntersecting}}
    <div class="col-start-1 text-right text-slate-300">
      L{{@evaluation.step.num}}
    </div>

    <div class="text-nowrap col-start-2">
      <SrcPreview @src={{@evaluation.step.src}} />
    </div>

    <div class="col-start-4">
      {{#each @evaluation.vsls as |visual|}}
        <div class="text-right text-nowrap">
          <Token @value={{visual.cmd}} @type='operation' />
          <Token @value={{get @execution.prog.refs visual.ref}} @type='variable' />
        </div>
      {{/each}}
    </div>

    <div class="col-start-5 animate-fade-in">
      {{#each @evaluation.vsls as |visual|}}
        <div class="h-4">
          <IntegerBits @number={{visual.val}} />
        </div>
      {{/each}}
    </div>

    <div class="col-start-6">
      {{#each @evaluation.vsls as |visual|}}
        <div class="flex justify-between gap-2">
          <Token @value='=' />
          <Token @value={{visual.val}} @type='literal' />
        </div>
      {{/each}}
    </div>

    <div class="text-nowrap col-start-8">
      {{#each @evaluation.vals as |val index|}}
        <div class="text-right">
          <SrcPreview @src="{{get @execution.prog.refs index}} =" />
        </div>
      {{/each}}
    </div>

    <div class="col-start-9 animate-fade-in">
      {{#each @evaluation.vals as |val index|}}
        <div class="h-4">
          <IntegerBits @number={{val}} />
        </div>
      {{/each}}
    </div>

    <div class="col-start-10">
      {{#each @evaluation.vals as |val index|}}
        <div class="flex justify-between gap-2">
          <Token @value='=' />
          <Token @value={{val}} @type='literal' />
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
