<div
  class="grid grid-cols-subgrid col-span-10 font-mono leading-4 p-6 border rounded-lg border-slate-200 gap-2 mb-2 bg-white"
  {{style height=this.height}}
  {{observe-intersection this.onIntersect}}
>
  {{#if this.isIntersecting}}
    <div class="col-start-1 text-right pr-1 text-slate-300">
      L{{@evaluation.step}}
    </div>

    <div class="text-nowrap col-start-2">
      <SrcPreview @src={{@evaluation.src}} />
    </div>

    <div class="col-start-4">
      {{#each @evaluation.visuals as |visual|}}
        <div class="text-right text-nowrap">
          <Token @value={{visual.op}} @type='operation' />
          <Token @value={{visual.ref}} @type='variable' />
        </div>
      {{/each}}
    </div>

    <div class="col-start-5">
      {{#each @evaluation.visuals as |visual|}}
        <div class="h-4">
          <IntegerBits @number={{visual.val}} />
        </div>
      {{/each}}
    </div>

    <div class="col-start-6">
      {{#each @evaluation.visuals as |visual|}}
        <div class="flex justify-between gap-2">
          <Token @value='=' />
          <Token @value={{visual.val}} @type='literal' />
        </div>
      {{/each}}
    </div>

    <div class="text-nowrap col-start-8">
      {{#each @evaluation.vals as |val index|}}
        <div>
          <Token @value={{get @interpreter.program.refs index}} @type='variable' />
          <Token @value='=' />
        </div>
      {{/each}}
    </div>

    <div class="col-start-9">
      {{#each @evaluation.vals as |val index|}}
        <div class="h-4">
          <IntegerBits @number={{val}} />
        </div>
      {{/each}}
    </div>

    <div class="col-start-10">
      {{#each @evaluation.vals as |val index|}}
        <div class="flex justify-between gap-2">
          <Token @value='=' />
          <Token @value={{val}} @type='literal' />
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
