<div class="table-row font-mono leading-4">
  <div class="table-cell pr-8 text-nowrap">
    {{#each this.srcTokens as |token|}}
      <Token @value={{token.value}} @type={{token.type}} />
    {{/each}}
  </div>

  <div class="table-cell w-1/2"></div>

  <div class="table-cell pb-3">
    {{#each @evaluation.visuals as |visual|}}
      <div class="text-right text-nowrap">
        <Token @value={{visual.op}} @type='operation' />
        <Token @value={{visual.ref}} @type='variable' />
      </div>
    {{/each}}
  </div>

  <div class="table-cell pb-3 px-2">
    {{#each @evaluation.visuals as |visual|}}
      <div class="h-4 flex items-center">
        <IntegerBits @number={{visual.val}} />
      </div>
    {{/each}}
  </div>

  <div class="table-cell pb-3">
    {{#each @evaluation.visuals as |visual|}}
      <div class="flex justify-between gap-2">
        <Token @value='=' />
        <Token @value={{visual.val}} @type='literal' />
      </div>
    {{/each}}
  </div>

  <div class="table-cell w-1/2"></div>

  <div class="table-cell text-nowrap">
    {{#each @evaluation.vals as |val index|}}
      <div>
        <Token @value={{get @interpreter.program.refs index}} @type='variable' />
        <Token @value='=' />
      </div>
    {{/each}}
  </div>

  <div class="table-cell pb-3 px-2">
    {{#each @evaluation.vals as |val index|}}
      <div class="h-4 flex items-center">
        <IntegerBits @number={{val}} />
      </div>
    {{/each}}
  </div>

  <div class="table-cell">
    {{#each @evaluation.vals as |val index|}}
      <div class="flex justify-between gap-2">
        <Token @value='=' />
        <Token @value={{val}} @type='literal' />
      </div>
    {{/each}}
  </div>

</div>
