<div class="p-8 py-16 space-y-8 font-mono">
  <div class="text-4xl font-bold text-center">
    CALCULATOR
  </div>
  <div class="max-w-7xl mx-auto relative">
    <div class="flex p-32 gap-4 text-5xl bg-white border-2 border-slate-200 rounded-2xl">
      <div class="w-72">
        <input class="border-b-4 h-24 px-3 text-5xl w-full border-slate-200 appearance-none" value={{this.x}} {{on "input" this.setX}} type="number" pattern="\d+" />
      </div>

      <div class="grid grid-cols-2 grid-rows-2 w-24 h-24 shrink-0 gap-2">
        {{#each this.operations as |operation|}}
          <button class="border-4 border-slate-200 flex items-center justify-center text-3xl {{if (eq this.operation operation.value) 'text-slate-600 bg-slate-200' 'text-slate-200'}}" type="button" {{on "click" (fn this.setOperation operation.value)}}>
            {{operation.label}}
          </button>
        {{/each}}
      </div>

      <div class="w-72">
        <input class="border-b-4 h-24 px-3 text-5xl w-full border-slate-200 appearance-none" value={{this.y}} {{on "input" this.setY}} type="number" pattern="\d+" />
      </div>

      <div class="text-nowrap py-6 w-72">
        =
        {{this.interpreter.program.retn}}
      </div>
    </div>

    <div {{on "click" this.toggleSource}} class="cursor-pointer absolute bottom-4 right-5 text-blue-500">
      {{if this.showSource 'Hide Source' 'Show Source'}}
    </div>
  </div>

  {{#if this.showSource}}
    <ProgramPreview @program={{this.interpreter.program}} />

    <div class=" text-center text-slate-400">
      Computed in {{this.interpreter.evaluations.length}} instructions in {{this.interpreter.runtime}}ms

      <span {{on "click" this.toggleInterpreter}} class="cursor-pointer text-blue-500">
        {{if this.showInterpreter 'Hide Instructions' 'Show Instructions'}}
      </span>
    </div>
  {{/if}}

  {{#if this.showInterpreter}}
    <InterpreterPreview @interpreter={{this.interpreter}} />
  {{/if}}
</div>
