<div class="p-4 space-y-4">
  <div class="flex">
    <Input class="border-2" @value={{this.x}} {{on "input" this.setX}} />
    +
    <Input class="border-2" @value={{this.y}} {{on "input" this.setY}} />
    =
    {{this.interpreter.program.retn}}
  </div>
  <InterpreterPreview @interpreter={{this.interpreter}} />
</div>
